@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: grid;
    padding: 4vh;
    text-align: left;

}

.top{
    display: grid;
    height: 70%;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto ;
    margin-left: 18vh;

    
    

}

button{
    display: grid;
    padding: 3vh;
    margin-bottom: 50vh;
    height: 2vh;
    margin-right: 20vh;
    align-content: center;
    border-radius: 2vh;
    color: #ffffff ;
    background-color: #252525;
    

    
}

.imagenes_top{
    height: 100vh;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    margin-right: 7vh;
    align-items: start;
    
}

.texto{
    display: grid;
    margin-top: 8vh;
    margin-left: 7vh;


}
h1{
    font-size: 8vh;
}

p{
    font-size: 4vh;

}


.derecha{
    margin-top: 25vh;
}


.imagenes{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 6vh;
    justify-content: center;
    position: relative;
    bottom: 30vh;
    margin-left:4vh ;
}
