@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: var(--color-prymary);
}

.section__img{
    background:black !important;
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}

.section__img img:first-child{
    align-self: flex-start;
}
.section__img img:last-child{
    height: 65%;
    margin-right: 20px;
    
}

.section__jump {
}


.section__jump h1,
.section__jump p,
.section__jump a{
    color: var(--color-font-prymary);
}



.section__jump h1{
}
.section__jump p{
}
.section__jump a{
}

.section__counter {
}

.counter_item {
}

.counter_item span,
.counter_item small{
    color: var(--color-font-prymary);
}


.counter_item span{
}
.counter_item small{
}
.counter_item span{
}
.counter_item small{
}

.section__card{
}

.card__item {
}

.card__item img,
.card__item h5,
.card__item p{
    color: var(--color-font-prymary);
}



.card__item img {
}
.card__item h5{
}
.card__item p{
}
