:root{
    --color-prymary:#b257c9;
}

@font-face {
    font-family: "titulo";
    src: url(/storage/font/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "texto";
    src: url(/storage/font/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf);
}