:root{
    --color-prymary:#b257c9;
}
@font-face {
    font-family: "titulo";
    src: url(/storage/font/Poppins/Poppins-Bold.ttf);
}


@font-face {
    font-family: "texto";
    src: url(/storage/font/Poppins/Poppins-Regular.ttf);
}